@model IEnumerable<MVC5Course.Models.ViewModels.ProductListVM>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")

    
</p>
<form method="get">
    查詢:
    @Html.TextBox("qStr")
    <button>查詢</button>

</form>
@if(TempData["SuccessResult"] != null)
{
    <h1>@TempData["SuccessResult"]</h1>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
    </tr>
}

</table>
