@model IEnumerable<MVC5Course.Models.ViewModels.ProductListVM>

@{
    ViewBag.Title = "ProductList";
}

<h2>ProductList</h2>

<p>
    @Html.ActionLink("Create New", "CreateProduct")


</p>
<form method="get">
    商品名稱:
    @Html.TextBox("ListData.qStr")
    庫存數量:
    @Html.TextBox("ListData.MinStock", null, new { size = "10", type = "number" }) ~
    @Html.TextBox("ListData.MaxStock", null, new { size = "10", Type = "number" })
    <button>查詢</button>
</form>
@if (TempData["SuccessResult"] != null)
{
    <h1>@TempData["SuccessResult"]</h1>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th></th>
    </tr>

    @{
        var items = Model.ToArray();
    }
    @for (var i = 0; i < items.Length; i++)
    {
        <tr>
            @Html.HiddenFor(modelItem => items[i].ProductId)
            <td>
                @Html.DisplayFor(modelItem => items[i].ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => items[i].ProductName)
            </td>
            <td>
                @Html.EditorFor(modelItem => items[i].Price)
            </td>
            <td>
                @Html.EditorFor(modelItem => items[i].Stock)
            </td>
        </tr>
    }

</table>